/* body */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  margin: 0;
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, auto));
  grid-template-rows: repeat(2, minmax(100px, auto));
}
/* sidebar */
.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  border-right: 2px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #ecedf5;
}
.sidebar__header {
  width: 100%;
  height: 100px;
  font-family: "Bebas Neue", cursive;
  background-color: #49547d;
  color: #fff;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sidebar__categories {
  border: none;
  background-color: #f8f9fa;
  border-radius: 20px;
}
.sidebar__categories:focus {
  outline: none;
}
.sidebar__categories option {
  background-color: #49547d;
  color: #fff;
}
.sidebar__button {
  border: none;
  background-color: #f8f9fa;
  border-radius: 8px;
  cursor: pointer;
}
.sidebar__button:active {
  background-color: rgb(226, 225, 225);
}
/* header */
.header {
  grid-column: 2/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header__select {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__inventory {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.header__sort {
  background-color: #fff;
  height: 47px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header__sort label {
  margin-left: 20px;
  font-size: 12px;
  opacity: 0.5;
}
.header__sort > select {
  padding: 0px;
  margin: 12px;
  margin-left: 0;
  border: none;
  font-size: 14px;
  opacity: 0.8;
}
.header__sort > select:focus {
  outline: none;
}
/* headerProductCounter */
.header__button {
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #61d5df;
  font-family: Gilroy-bold;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
/* searchbar */
.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__input {
  height: 35px;
  width: 300px;
  border: 1px solid #efeff1;
  border-right: none;
  margin-left: 0px;
  border-radius: 8px 0 0 8px;
  font-size: 15px;
}
.header__counter {
  color: #29304b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Gilroy-med;
  font-style: normal;
  height: 30px;
  padding-left: 5px;
  border-left: 1px solid #e4e5ec;
}
.header__about {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid #e4e5ec;
  border-radius: 50%;
}
.header__about:hover {
  box-shadow: 1px 1px 1px 1px #49547d;
}
.header__button--search {
  height: 39px;
  width: auto;
  border: 1px solid #efeff1;
  border-left: none;
  background-color: #fff;
  border-radius: 0 8px 8px 0;
}
.header__button:active {
  background-color: rgb(226, 225, 225);
}
.header__input:focus {
  outline: none;
}
/* main */
.main {
  grid-column: 2/5;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main__catalog {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 10px;
}
.catalog__selector {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: absolute;
}
.catalog__selector button {
  margin-left: 210px;
}
.catalog__button {
  height: 20px;
}
.catalog__product:hover .catalog__selector {
  display: flex;
}
.catalog__loading {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Assets/load.gif");
  background-position: center;
  background-size: cover;
}
.catalog__error {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Assets/error.jpg");
  background-color: rgba(248, 249, 250, 1);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}
.catalog__product {
  flex-wrap: 1 300px;
  max-width: 400px;
  width: 350px;
  height: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border: 1px solid #e4e5ec;
  border-radius: 8px;
}
.catalog__product:hover {
  border-color: #61d5df;
}
.catalog__photo {
  width: 100%;
  height: 170px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
.catalog__title {
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}
.catalog__price {
  padding-top: 5px;
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
